<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <span class="navbar-brand mb-0 h1">Pokemon Trainer</span>
    <div class="navbar-collapse">
        <a></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/trainer" class="nav-link">Trainer page</a>
            </li>
            <li class="nav-item">
                <a routerLink="/catalogue" class="nav-link">Catalogue</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>