<div class="card" style="width: 18rem;">
    <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="{{pokemon.name}} in all its glory"/>
    <div class="card-body">
      <h3 class="card-title">{{pokemon.name}}</h3>
      <ul>
        <li id="pokemonType" *ngFor="let type of pokemon.types">
          {{type.type.name}}
        </li> 
      </ul>
      <h3 class="card-title">Moves</h3>
      <ul>
        <li id="pokemonType" *ngFor="let move of pokemon.moves .slice(0, 10)">
          {{move.move.name}}
        </li> 
      </ul>
      <h3 class="card-title">Base stats</h3>
      <ul>
        <li id="pokemonType" *ngFor="let stat of pokemon.stats .slice(0, 3)">
          {{stat.base_stat}}
          {{stat.effort}}
        </li> 
      </ul>
      <h3>Base experience: </h3>
      <ul>
        <li>
            Base experience: {{pokemon.base_experience}}
        </li>
      </ul>
      <h1></h1>
      <h4>Physics</h4>
      <ul>
        <li>
          Height: {{pokemon.height}}
        </li>
        <li>
          Weight: {{pokemon.weight}}
        </li>
      </ul>
      <button type="button" class="btn btn-primary" (click)="onCapturePokemonClicked()">Catch it!</button>
    </div>
  </div>
