<div class="container">

  <div *ngIf="capturedPokemon">
      <div  class="list-group" *ngFor="let pokemon of capturedPokemon">
          <a class="list-group-item list-group-item-action" (click)="onPokemonSelected(pokemon)">
              <p id="pokemonName" style="display:inline-block;">{{pokemon.name}}</p>
              <img style="float: right;" src="{{pokemon.sprites.front_default}}"
                  alt="{{pokemon.name}} in all its glory!">
          </a>
      </div>
  </div>

  <div *ngIf="!capturedPokemon">
      <a>Go to catalogue to catch some Pokémon!</a>
  </div>
  
</div>
