<div class="row">
  <div class="col-sm-3" *ngFor="let pokemon of pokemonList" [ngClass]="{ 'name': pokemon.name }" (click)="onPokemonClicked(pokemon)">
      <div class="card">
          <div class="card-body">
              <img src="{{pokemon.sprites}}" />
              <h5 class="card-title">{{pokemon.name}}</h5>
              <p class="card-text"></p>
          </div>
      </div>
  </div>
</div>
