<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>iTunes</title>
    </head>
    <body>
        <h1>iTunes</h1>

        <div id = "searchBar">
            <form action="#" th:action="@{/search}" th:object="${search}" method="get" id="form">
                <input type="text" th:field="*{query}" id="songToBeSearchedFor" placeholder="Search for a song:"/>
                <input type="submit" value="SEARCH" id="searchButton"/>
            </form>
        </div>

        <div id = "pageContainer">
            <div id = "trackContainer">
                <h4>Songs to check out:</h4>
                <p th:each="track : ${tracks}" th:text="${track.getTrackName()}"> </p>
            </div>
            <div id = "artistContainer">
                <h4>Artists to check out:</h4>
                <p th:each="artist : ${artists}" th:text="${artist.getArtistName()}"> </p>
            </div>
            <div id = "genreContainer">
                <h4>Genres to check out:</h4>
                <p th:each="genre : ${genres}" th:text="${genre.getGenreName()}"> </p>
            </div>
        </div>
    </body>
</html>
