<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>  
        <h1 th:text="${search}"></h1>

        <h2 th:if="${nothing}">No matching results</h2>

        <div th:if="${tracks}" id= "trackContainer" th:each="track : ${tracks}">
            <div id = "songInfo">
                <h4>Song: </h4>
                <p th:text="${track.getTrackName()}"></p>
            </div>
            <div id = "artistInfo">
                <h4>Artist:</h4>
                <p th:text="${track.getTrackArtist()}"></p>
            </div>
            <div id = "albumInfo">
                <h4>Album:</h4>
                <p th:text="${track.getTrackAlbum()}"></p>
            </div>
            <div id = "genreInfo">
                <h4>Genre:</h4>
                <p th:text="${track.getTrackGenre()}"></p>
            </div>
        </div>
    </body>
</html>
