<div class="container">
  <form>
      <section class="form-group">
          <br>
          <input class="form-control" autoComplete="off" type="text" name="username"
              placeholder="What is your name?" [(ngModel)]='user.username' />
          <br>
          <button class="btn btn-primary" type="submit" (click)='onRegisterClicked()'>Register</button>
      </section>
  </form>
</div>